{
    "Version": "2012-10-17",
    "Id": "certbot-dns-route53 policy",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "route53:ListHostedZones",
                "route53:GetChange"
            ],
            "Resource": [
                "*"
            ]
        },
        {
            "Effect" : "Allow",
            "Action" : [
                "route53:ChangeResourceRecordSets"
            ],
            "Resource" : [
                #"arn:aws:route53:::hostedzone/YOURHOSTEDZONEID"
                "arn:aws:route53:::hostedzone/{{ hostedZoneID }}"
            ]
        }
    ]
}
