anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=022
dirmessage_enable=YES
xferlog_enable=YES
debug_ssl=YES
log_ftp_protocol=YES
connect_from_port_20=YES
chroot_local_user=YES
listen=YES
user_sub_token=$USER
local_root=/home/$USER/uploader
pam_service_name=vsftpd
userlist_enable=YES
tcp_wrappers=YES
pasv_enable=YES
pasv_min_port=2014
pasv_max_port=1048
pasv_address=18.216.15.122
ssl_enable=YES
allow_anon_ssl=NO
force_local_data_ssl=NO
force_local_logins_ssl=NO
ssl_tlsv1=YES
ssl_sslv2=NO
ssl_sslv3=NO

# LetsEncrypt Cert Info
rsa_cert_file=/etc/letsencrypt/live/{{ domain }}/fullchain.pem
rsa_private_key_file=/etc/letsencrypt/live/{{ domain }}/privkey.pem
ssl_ciphers=HIGH
